@use './variables.scss';
@use "sass:map";
@use 'sass:color';

$theme-map: null;

$themes: (
        // default1: (
        //   bg: variables.$color-light,
        //   text-color: variables.$color-black,
        //   header-bg: color.scale(variables.$color-medium, $alpha: -75%),
        //   border-color: variables.$color-dark,
        //   shadow: 0.15rem 0.2rem 0.7rem color.scale(variables.$color-black, $alpha: -80%),
        //   light-dark: variables.$color-light,
        //   header-color: variables.$color-dark,
        //   modal-bg: variables.$color-light,
        //   modal-overlay: color.scale(variables.$color-black, $alpha: -75%),
        //   progress-bar: variables.$color-white,
        //   toggle-bg: variables.$color-gray,
        //   toggle-slider: variables.$color-medium,
        //   toggle-bg-checked: variables.$color-dark,
        //   link-highlight: variables.$color-dark
        // ),
        cool--default: (
          bg: variables.$bg-gradient--cool,
          text-color: variables.$color-black,
          header-bg: color.scale(variables.$color-medium--cool, $alpha: -75%),
          border-color: variables.$color-dark--cool,
          shadow: 0.15rem 0.2rem 0.7rem color.scale(variables.$color-black, $alpha: -80%),
          light-dark: variables.$color-light--cool,
          header-color: variables.$color-dark--cool,
          modal-bg: variables.$color-light--cool,
          modal-overlay: color.scale(variables.$color-black, $alpha: -75%),
          progress-bar: variables.$color-white,
          toggle-bg: variables.$color-gray,
          toggle-slider: variables.$color-medium--cool,
          toggle-bg-checked: variables.$color-dark--cool,
          toggle-border: variables.$color-light--cool,
          link-highlight: variables.$color-secondary--cool,
          link-hover-text: variables.$color-white,
          link-color: variables.$color-secondary--cool,
          link-visited-color: variables.$color-tertiary--cool,
          button-border: variables.$color-black,
          modal-shadow: variables.$shadow-modal
        ),
        warm--default: (
          bg: variables.$bg-gradient--warm,
          text-color: variables.$color-black,
          header-bg: color.scale(variables.$color-medium--warm, $alpha: -75%),
          border-color: variables.$color-dark--warm,
          shadow: 0.15rem 0.2rem 0.7rem color.scale(variables.$color-black, $alpha: -80%),
          light-dark: variables.$color-light--warm,
          header-color: variables.$color-dark--warm,
          modal-bg: variables.$color-light--warm,
          modal-overlay: color.scale(variables.$color-black, $alpha: -75%),
          progress-bar: variables.$color-white,
          toggle-bg: variables.$color-light--warm,
          toggle-slider: variables.$color-medium--warm,
          toggle-bg-checked: variables.$color-dark--warm,
          toggle-border: variables.$color-light--warm,
          link-highlight: variables.$color-dark--warm,
          link-hover-text: variables.$color-white,
          link-color: variables.$color-dark--warm,
          link-visited-color: variables.$color-medium--warm,
          button-border: variables.$color-black,
          modal-shadow: variables.$shadow-modal
        ),
        cool--dark: (
          bg: variables.$bg-gradient--cool--dark,
          text-color: variables.$color-white,
          header-bg: color.scale(variables.$color-dark--cool, $alpha: -75%, $blackness: 25%),
          border-color: variables.$color-light--cool,
          shadow: 0.15rem 0.2rem 0.7rem color.scale(variables.$color-black, $alpha: -80%),
          light-dark: variables.$color-dark--cool,
          header-color: variables.$color-light--cool,
          modal-bg: variables.$color-dark--cool,
          modal-overlay: color.scale(variables.$color-black, $alpha: -75%),
          progress-bar: variables.$color-white,
          toggle-bg: variables.$color-gray,
          toggle-slider: variables.$color-medium--cool,
          toggle-bg-checked: variables.$color-light--cool,
          toggle-border: variables.$color-dark--cool,
          link-highlight: variables.$color-light--cool,
          link-hover-text: variables.$color-dark--cool,
          link-color: variables.$color-secondary--cool,
          link-visited-color: variables.$color-tertiary--cool,
          button-border: variables.$color-white,
          modal-shadow: variables.$shadow-modal
        ),
        warm--dark: (
          bg: variables.$bg-gradient--warm--dark,
          text-color: variables.$color-white,
          header-bg: color.scale(variables.$color-dark--warm, $alpha: -75%),
          border-color: variables.$color-dark--warm,
          shadow: 0.15rem 0.2rem 0.7rem color.scale(variables.$color-black, $alpha: -80%),
          light-dark: variables.$color-dark--warm,
          header-color: variables.$color-light--warm,
          modal-bg: variables.$color-dark--warm,
          modal-overlay: color.scale(variables.$color-black, $alpha: -75%),
          progress-bar: variables.$color-white,
          toggle-bg: variables.$color-gray,
          toggle-slider: variables.$color-medium--warm,
          toggle-bg-checked: variables.$color-light--warm,
          toggle-border: variables.$color-light--warm,
          link-highlight: variables.$color-light--warm,
          link-hover-text: variables.$color-dark--warm,
          link-color: variables.$color-dark--warm,
          link-visited-color: variables.$color-medium--warm,
          button-border: variables.$color-white,
          modal-shadow: variables.$shadow-modal
        ),
        font-default: (
          font-family: variables.$font-default
        ),
        font-dyslexic: (
          font-family: variables.$font-dyslexic
        )
);

@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map.get(map.get($themes, $theme), '#{$key}');
          $theme-map: map.merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function t($key) {
    @return map.get($theme-map, $key);
  }

