@use 'sass:color';
@use 'sass:map';

// Breakpoints
$breakpoint--sm: 360px;
$breakpoint--md: 768px;
$breakpoint--lg: 1024px;
$breakpoint--xl: 1440px;

$breakpoints: (
    mobile: $breakpoint--sm,
    tablet: $breakpoint--md,
    desktop: $breakpoint--lg,
    ultrawide: $breakpoint--xl
);

// Colors

// $color-light: #aaccd5;
// $color-medium: #006A94;
// $color-dark: #006A94;
// $color-secondary: #FEAB83;
// $color-tertiary: #FFD686;

$color-black: #000;
$color-white: #fdffff;
$color-gray: #D4F3F5;

$color-light--cool: #CAE5D7;
$color-medium--cool: #47AC84;
$color-dark--cool: #142726;
// $color-secondary--cool: #59B4DC;
// $color-tertiary--cool: #273D6C;
$color-secondary--cool: #01497A;
$color-tertiary--cool: #ab1e35;

// $color-light--cool: #4F91E5;
// $color-medium--cool: #2959C7;
// $color-dark--cool: #060D39;
// $color-secondary--cool: #FDC5E0;
// $color-tertiary--cool: #FDFCDF;

$color-light--cool: #64C6FF;
$color-medium--cool: #2959C7;
$color-dark--cool: #2E2447;
$color-dark--cool2: #142726;
$color-secondary--cool: #FE3D92;
$color-tertiary--cool: #ff75bc;


$color-light--warm: #FDCE9B;
$color-medium--warm: #E2624F;
$color-dark--warm: #50170d;
$color-secondary--warm: #F8B436;
$color-tertiary--warm: #273D6C;

// gradients

$button-gradient: linear-gradient(
    65deg,
    $color-light--cool,
    $color-secondary--cool,
    $color-tertiary--cool
);

$bg-gradient--cool: linear-gradient(
    10deg,
    $color-medium--cool,
    $color-light--cool
);

$bg-gradient--warm: linear-gradient(
    10deg,
    $color-medium--warm,
    $color-light--warm
);

$bg-gradient--cool--dark: linear-gradient(
    10deg,
    $color-dark--cool 50%,
    $color-medium--cool
);

$bg-gradient--warm--dark: linear-gradient(
    10deg,
    $color-black,
    $color-dark--warm
);

$rainbow-gradient: linear-gradient(
    65deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
);

$rainbow-gradient--dark: linear-gradient(
    65deg,
    hsl(0, 100%, 25%) 0%,
    hsl(36, 100%, 25%) 10%,
    hsl(64, 74%, 25%) 20%,
    hsl(118, 68%, 29%) 30%,
    hsl(179, 68%, 27.5%) 40%,
    hsl(188, 76%, 27%) 50%,
    hsl(212, 86%, 26%) 60%,
    hsl(260, 89%, 26%) 70%,
    hsl(284, 94%, 25.5%) 80%,
    hsl(308, 97%, 25.5%) 90%,
    hsl(0, 100%, 25%) 100%
);

// shadows

$shadow-modal: 0.15rem 0.2rem 0.7rem $color-black;

// Spacing
$gutter--sm: 0.75rem;
$gutter--md: 2rem;

// Fonts
$font-default: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-dyslexic: 'OpenDyslexic', 'Comic Sans', Arial, sans-serif;
