@use "../../styles/variables.scss";
@use "../../styles/themes.scss";

@property --border-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.skill-list {
    @include themes.themed() {
        --border-color: themes.t('button-border')
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    &__item {
        border-radius: calc(infinity * 1px);
        position: relative;
        left: calc(100vw + 100px);
        transition: left 1s;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (prefers-reduced-motion) {
            left: 0;
            transition: none;
        }

        @for $i from 1 through 30 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 0.05s;
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            inset: 0;
            --border-angle:0deg;
            transition:--border-angle 0.5s;
            @include themes.themed() {
                background: themes.t('button-border');
                // background: conic-gradient(themes.t('button-border') var(--border-angle), transparent var(--border-angle) 360deg);
            }

        }

        &:hover {
            &::before {
                --border-angle:360deg;
            }
        }

        &-inner {
            position: relative;
            z-index: 1;
            padding: 0.5rem 1rem;
            box-sizing: border-box;
            border-radius: calc(infinity *1px);
            margin: 2px;
            background: variables.$button-gradient;
            // background-size: 200%;
            // background-position: left;
            background-attachment: fixed;
            // background: linear-gradient(65deg, variables.$color-medium--cool, variables.$color-secondary--cool);
        }
    }

    &.initialized {
        .skill-list__item {
            left: 0;
        }
    }
}