@use '../../styles/variables.scss';
@use '../../styles/themes.scss';

.header {
    // @include themes.themed() {
    //     background-color: themes.t("header-bg");
    //     box-shadow: themes.t("shadow");
    // }

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // border-radius: 0.75rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding: 1.5rem 1.5rem 1rem;
    z-index: 10;
    transition: 0.4s;
    overflow: hidden;
    // transition: all 0.4s;
    // z-index: 1000;
    // padding: 1rem;
    // margin-bottom: 1rem;
    // margin-left: 2rem;
    // margin-right: 2rem;

    &__text {
        @include themes.themed() {
            color: themes.t("header-color");
        }

        text-shadow: 2px 2px 4px #0000009e;
        transition: 0.4s;
        text-align: center;
        letter-spacing: 0.1rem;
    }

    &__background {
        position: absolute;
        inset: 0;
        @include themes.themed() {
            background: themes.t('bg');
        }
    }

    &.scrolled {
        padding-top: 0.4rem;
        padding-bottom: 0.5rem;
        
        .header{
            // &__text {
            //     font-size: 1.5rem;
            // }
        }
        
    }

    // > a {
    //     &::before {
    //         display: none;
    //     }
    // }

    // @include themes.themed() {
    //     .glass-effect-wrapper {
    //         overflow: hidden;
    //         position: absolute;
    //         top: 0;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         border-radius: inherit;
    //         pointer-events: none;
    //     }

    //     .glass-effect {
    //         pointer-events: none;
    //         position: absolute;
    //         inset: 0;
    //         height: 200%;
    //         backdrop-filter: blur(0.2rem);
    //         z-index: -1;
    //         mask-image: linear-gradient(
    //           to bottom,
    //           variables.$color-black 0% 50%,
    //           transparent 50% 100%
    //         );
    //         background: linear-gradient(
    //             themes.t("light-dark") 0%,
    //             transparent 50%
    //         );
    //       }
    // }

    .progress-bar {
        height: 0;
        overflow: hidden;
        transition: height 0.2s;
    }

    &.scrolled {
        .progress-bar {
            height: 0.2rem;
        }
    }
    
    // &.sticky {
    //     border-radius: 0;
    //     margin-left: calc((100vw - 100%) / -2);
    //     margin-right: calc((100vw - 100%) / -2);

        
    //     // calc(100vw - (100vw - 100%))

    


    //     // @media screen and (min-width: variables.$breakpoint--md) {
    //     //     flex-direction: row;
    //     //     justify-content: space-between;
    //     // }

    //     // .header__blurb {
    //     //     display: none;
    //     // }
    // }
}