@use "../../styles/variables.scss";

.role {
    &__details {
        margin-top: 0.5rem;
        // display: flex;
        // justify-content: space-between;
        margin-bottom: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.3rem;

        &--company {
            grid-column: 1/2;
            font-weight: 700;
        }  

        &--location {
            grid-column: 1/2;
        }

        &--term {
            grid-column: 2/3;
            grid-row: 1/ span 2;
            text-align: right;
        }
    }

    &__highlights-heading {
        margin-bottom: 0.5rem;
    }

    &__highlights {
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    &__highlight {
        line-height: 1.5rem;
    }
}