@use '../../styles/variables.scss';
@use '../../styles/themes.scss';

.toggle {
    @include themes.themed() {
        border-color: themes.t("border-color");
    }

    border: 0.0625rem solid;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 1.25rem;
    width: 2.5rem;
    border-radius: calc(infinity * 1px);

    .slider {
        background-color: variables.$color--light;
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
        inset: 0;
        transition: 0.4s;
        border-radius: calc(infinity * 1px);

        &::before {
            content: '';
            position: relative;
            height: 1rem;
            width: 1rem;
            left: 0.125rem;
            transition: 0.4s;
            background-color: variables.$color--white;
            border: 0.0625rem solid variables.$color--dark;
            border-radius: 100%;
        }
    }
    
    input:checked + .slider {
        background-color: variables.$color--dark;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 0.0625rem variables.$color--dark;
    }
    
    input:checked + .slider:before {
        transform: translateX(calc(100% + 0.125rem));
    }
}
