@use "../../styles/variables.scss";
@use "../../styles/themes.scss";

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__inner {
        @include themes.themed() {
            background-color: themes.t("modal-bg");
            box-shadow: themes.t('modal-shadow');
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 1.5rem;
        border-radius: 0.5rem;
    }

    &__content {

    }

    &__background {
        @include themes.themed() {
            background-color: themes.t("modal-overlay");  
        }
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &__close {
        position: absolute;
        top:0.5rem;
        right: 0.5rem;
        transform: translate(-50%, -50%);
    }
}