@use "../../styles/variables.scss";

.list-item {
    display: flex;
    column-gap: 0.5rem;
    transition: backdrop-filter 0.2s;

    &__marker {
        color: variables.$color-secondary--cool;
    }

    &__content {
        flex: 1;
    }

    &:hover {
        backdrop-filter: saturate(2) brightness(1.5);
    }
}