@use "../../styles/themes.scss";

.progress-bar {
    height: 0.2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &__completed {
        @include themes.themed() {
            background-color: themes.t("progress-bar");
        }

        position: inherit;
        height: 100%;
        max-width: 100%;
    }
}