@use '../../styles/variables.scss';

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    box-shadow: 0 -1rem 1rem black;
    
    &__settings-button {

        img {
            transition: 0.4s;
            width: 1rem;
        }

        &:hover {
            img {
                transform: rotate(-30deg);
            }
        }

        &.rotate {
            img {
                animation-name: rotate;
                animation-duration: 1.5s;
            }
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
        margin-bottom: 0.5rem;
        column-gap: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
    
            &:visited {
                color: white;
            }
    
            &__icon {
    
            }
            &__text {
                font-size: 0.75rem;
            }
        }

        // li {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     justify-self: center;
        //     align-self: center;
        //     width: 2.4rem;
        //     height: 2.4rem;

        //     a {
        //         width: 100%;
        //         height: 100%;
        //         display: inherit;
        //         justify-content: inherit;
        //         align-items: inherit;
        //         color: white;
        //         border-radius: calc(infinity * 1px);
        //         background-color: variables.$color-secondary--cool;


        //         &:visited {
        //             color: white;
        //         }
        //     }
        // }
    }

    &__social-links {
        li a {
            display: flex;
            column-gap: 0.25rem;
        }

        img {
            width: 1rem;
        }
    }

    .theme-toggle {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        img {
            width: 2rem;
        }
    }


    @keyframes rotate {
        from {
            transform: rotate(-30deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}